.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    text-align: center;
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login{
    margin-top: 15%;
}
body { font-size: 1.2rem; font-family: Helvetica, Arial, sans-serif;
    background-color: #086A87}

.navbar-light{
    background-color: #0174DF;
    outline-color:#071019;
    outline-style:inset;
}
.navbar-brand{
    font-size: 80%;
}
.navbar{
    padding-bottom:3px;
    padding-top: 3px;
}   
.img{
    padding:0px;
    margin: 0px;
}
.bigsize{
    font-size: 130%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menu-category{
  max-height: 500px;
    overflow-y: scroll;
}

.product-name{
    background-color:#FFBF00;
}

.my-card{
    width: 33.33%;
    height: 150px;
}


