.navbar-light{background-color: #88C64B}

.full {
    background-color:#88C64B ;

}
.dropdown{
    display: inline-block;
}

.menu{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 50%;
}