<nav class="navbar  fixed-top navbar-light bg-faded">
    <div class="text-center"> 
        <a class="navbar-brand" href="#"><h2 class="font-italic">Jugui Toño</h2></a>
        
        <div  ngbDropdown class="float-xs-right">
            <button class="btn btn-outline-user-menu" id="dropdownMenu1" ngbDropdownToggle>
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                &nbsp;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" (click)="logout($event)">Logout</button>
            </div>
        </div>
    </div>
    
    

    
</nav>
<div id="pv_content" class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer id="pricing_footer" class="col-sm-12">
    <span class="float-sm-left">
        Ptt 1.0.0<!--<spring-: message code="version"/>-->
    </span>
    <p>&copy; Staples Pricing Team</p>
</footer>
