<header>
    <nav class="navbar navbar-dark">

        <!-- Project -->
        <a class="navbar-brand brand-title" routerLink="/pv/tickets" href="">Punto de Venta&nbsp;&nbsp;&nbsp;</a>



        <!-- User Menu -->
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-user-menu" id="dropdownMenu1" ngbDropdownToggle>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        &nbsp;{{claims.unique_name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <button class="dropdown-item" (click)="logout($event)">Logout</button>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>

<div id="pv_content" class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer id="pv_footer" class="col-sm-12">
    <span class="float-sm-left">
        PV 1.0.0
    </span>
    <p>&copy; TechnoMind Team</p>
</footer>