
<div class="login"> 
    <div class="container">
    
        <form class="form-signin"   (submit)="login()"  id="loginForm"> 
            <h2 class="form-signin-heading">Jugui Toño <i class="fa fa-cutlery" aria-hidden="true"></i></h2>
            <label for="username" class="sr-only">Nombre Usuario</label>
            <input type="email" id="username"  [(ngModel)]="user.username" class="form-control" name="username" placeholder="Usuario" required autofocus>
            <label for="contraseña" class="sr-only">Password</label>
            <input type="password" id="contraseña" class="form-control" placeholder="Contraseña" name="contraseña" [(ngModel)]="user.password" required>
           
            <button class="btn btn-lg btn-success btn-block" type="submit" >Aceptar</button>
        </form>
    
    </div> <!-- /container -->
</div>